<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catwork.mapper.PersonMapper">  
<select id="getPersonInfo">
	SELECT
		U.ID,
		U.PWD,
		U.TYPE, 
		P.PER_IDX,
		P.USER_IDX,
		P.NAME,
		P.PHONE,
		P.ZIP_CODE,
		P.ADDRESS,
		P.SOCIAL_NUM,
		P.CREATED
	FROM PERSON_TB P
    JOIN USER_TB U
    ON P.USER_IDX = U.USER_IDX
    WHERE U.ID = 'id001'

</select>
<update id="updateMyInfo">
	UPDATE USER_TB 
		SET PWD = #{pwd}
	WHERE  ID='id001'	

</update>
<update id="updateMyInfo2">
	UPDATE PERSON_TB 
		SET NAME=#{name},
			PHONE=#{phone},
			ZIP_CODE=#{zip_code},
			ADDRESS=#{address}

	WHERE  USER_IDX=(
    SELECT USER_IDX
    FROM   USER_TB U
    WHERE U.ID='id001')

</update>

<delete id="personDelete">
	DELETE FROM USER_TB
	WHERE  ID='151515'

</delete>



<select id="getResumeList">
	SELECT 
	    ROW_NUMBER() OVER (ORDER BY RESUME_IDX) AS NUM,
	    RESUME_IDX,
	    USER_IDX,
	    TITLE,
	    IMAGE,
	    LINK,
	    INTRO,
	    CREATED,
	    TYPE
	FROM RESUME_TB
	WHERE USER_IDX=(
	    SELECT USER_IDX
	    FROM   USER_TB U
	    WHERE U.ID='user')


</select>


<select id="getApplyList">
SELECT *
FROM (
    SELECT 
        A.APPLY_IDX,
        A.RESUME_IDX,
        A.POST_IDX,
        A.STATE,
        A.CREATED,
        U.USER_IDX,
        P.TITLE,
        P.CAREER,
        P.GOWORK,
        P.GOHOME,
        P.SALARY,
        P.DEADLINE,
        P.MANAGER,
        P.MPHONE,
        ROW_NUMBER() OVER (ORDER BY A.APPLY_IDX) AS ROW_NUM
    FROM APPLY_TB A 
    JOIN RESUME_TB R ON A.RESUME_IDX = R.RESUME_IDX 
    JOIN USER_TB U ON R.USER_IDX = U.USER_IDX
    JOIN POST_TB P ON A.POST_IDX = P.POST_IDX
    WHERE U.USER_IDX = 2
)

</select>

	<!-- 개인회원 테이블에서 특정 회원 정보 가져오기 -->
	<select id="getPersonDetail">
		SELECT PER_IDX, USER_IDX, NAME, PHONE, ZIP_CODE, ADDRESS, SOCIAL_NUM, TO_CHAR(CREATED, 'YYYY-MM-DD') CREATED FROM PERSON_TB WHERE USER_IDX = #{user_idx}
	</select>
	
	<!-- 특정 이력서 스킬 idx 얻기 -->
	<select id="getResumeSkill">
		SELECT RESKILL_IDX, RESUME_IDX, SKILL_IDX FROM RESUME_SKILL_TB WHERE RESUME_IDX = #{resume_idx}
	</select>

	<!-- resume_idx로 특정 이력서 정보 가져오기 -->
	<select id="getResume">
		SELECT RESUME_IDX, USER_IDX, TITLE, IMAGE, LINK, INTRO, TO_CHAR(CREATED, 'YYYY-MM-DD') CREATED, TYPE FROM RESUME_TB WHERE RESUME_IDX = #{resume_idx}
	</select>
	
	<!-- 이력서 스킬 테이블 전체 가져오기 -->
	<select id="getResumeSkillAll">
		SELECT RESKILL_IDX, RESUME_IDX, SKILL_IDX FROM RESUME_SKILL_TB
	</select>
	
	<!-- 이력서 Idx 모두 가져오기 -->
	<select id="getResumeIdxList">
		SELECT RESUME_IDX FROM RESUME_TB
	</select>
</mapper>